---
interface Props {
  id?: string;
  href?: string;
  role?: 'link' | 'button';
  class?: string;
  target?: string;
}

const { BASE_URL } = import.meta.env;
const { id, href, target, role, class: classProp } = Astro.props;
const { pathname } = Astro.url;

const isActive = pathname === href?.replace('./', BASE_URL);
const classList = [isActive ? 'active' : ''];

if (classProp) {
  classList.push(classProp);
}
---

<a id={id} role={role} href={href} target={target} class:list={classList}>
  <slot />
</a>
